HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/QRCodePay/src/main/resources/应用公钥RSA2048.txt
/QRCodePay/src/main/resources/应用私钥RSA2048.txt
/QRCodePay/src/main/resources/支付宝公钥
/QRCodePay/src/main/resources/2021004161619844/
/2021004161619844/
